<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <!-- 引入样式 -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- 引入组件库 -->
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style type="text/css"></style>
  </head>

  <body>
    <div id="example">
      <div id="id_di_mh">
        <table id="id_t_mh" class="table table-bordered">
          <thead>
            <tr>
              <td style="width:240px">最新进展</td>
              <td style="width:120px">合同原件</td>
              <td style="width:100px">二次签收</td>
              <td style="width:240px;">跟进</td>
            </tr>
          </thead>
        </table>
      </div>
      <div id="id_di_m">
        <table id="id_t_m" class="table table-bordered">
          <thead>
            <tr id="id_tr_mh">
              <td style="width:240px">最新进展</td>
              <td style="width:120px">合同原件</td>
              <td style="width:100px">二次签收</td>
              <td style="width:240px;">跟进</td>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in Datas" :key="item.id">
              <td style="width:240px">{{item.comment}}</td>
              <td style="width:120px">{{item.合同原件}}</td>
              <td style="width:100px">{{item.签收状态}}</td>
              <td style="width:240px">{{ item.followup }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <table border="1" cellpadding="0" cellspacing="0" style="height:200px;width:700px;overflow:scroll;border-collapse:collapse;border-spacing: 0;display: inline-block;table-layout:fixed;">
        <thead>
          <tr>
            <td style="width:240px">最新进展</td>
            <td style="width:120px">合同原件</td>
            <td style="width:100px">二次签收</td>
            <td style="width:240px;">跟进</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in Datas" :key="item.id">
            <td class="inline" style="width:240px">{{item.comment}}</td>
            <td style="width:120px">{{item.合同原件}}</td>
            <td style="width:100px">{{item.签收状态}}</td>
            <td style="width:240px">{{ item.followup }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
      var vm = new Vue({
        el: "#example",
        data: {
          Datas: [
            {
              htid: "3012",
              salelx: "分销销售",
              salehth: "HWCD110823/11031",
              xmmx: "分销销售(HWCD110823/11031)",
              bsc: "成都办",
              khjl: "王宇",
              dlsmc: "四川博世科技信息产业有限公司",
              htxse: 290000,
              ysdk: 1800,
              cqys: 0,
              cqts: null,
              yskdqr: "",
              yzhcd: "",
              comment: "李立(2019-01-07):1111",
              cpx: "华为视讯",
              cpx1: "华为视讯",
              cpx_pri: "华为视讯",
              quyu: "南区",
              promise: "填承诺",
              followup: "李立(2019-03-29):一月,第一周",
              合同原件: "有",
              签收状态: "不合格",
              未开票金额: 0,
              票据: null,
              身份证: "否",
              sale_cpx: "华为视讯"
            },
            {
              htid: "3353",
              salelx: null,
              salehth: "HWHF111228B/11040",
              xmmx: "(HWHF111228B/11040)",
              bsc: null,
              khjl: null,
              dlsmc: null,
              htxse: null,
              ysdk: 33632,
              cqys: 0,
              cqts: null,
              yskdqr: "",
              yzhcd: "",
              comment: "童亚茹(2018-05-17):烂尾项目，不执行",
              cpx: "华为视讯",
              cpx1: "华为视讯",
              cpx_pri: "华为视讯",
              quyu: null,
              promise: "填承诺",
              followup: "李立(2019-04-01):二月,第二周",
              合同原件: "有",
              签收状态: "是",
              未开票金额: null,
              票据: null,
              身份证: "否",
              sale_cpx: "华为视讯"
            },
            {
              htid: "6516",
              salelx: "监控项目",
              salehth: "SH140325A",
              xmmx: "上海职业技术专科学院技防视频监控扩容",
              bsc: "上海办",
              khjl: "穆骏彦",
              dlsmc: "博康云信科技有限公司",
              htxse: 123152,
              ysdk: 30800,
              cqys: 0,
              cqts: null,
              yskdqr: "",
              yzhcd: "",
              comment: "张卓(2018-06-13):暂无进展",
              cpx: "华为监控",
              cpx1: "华为监控",
              cpx_pri: "华为监控",
              quyu: "南区",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "否",
              未开票金额: -2457.5,
              票据: null,
              身份证: "否",
              sale_cpx: "华为监控"
            },
            {
              htid: "6744",
              salelx: "监控项目",
              salehth: "XJ140513A/14022",
              xmmx: "红山样板店LTE摄像头采购",
              bsc: "乌鲁木齐办",
              khjl: "吴宇",
              dlsmc: "新疆中讯互联商贸有限公司",
              htxse: 0,
              ysdk: 25921,
              cqys: 0,
              cqts: null,
              yskdqr: "",
              yzhcd: "",
              comment: "刘雪莹(2018-05-30):该项目已拆单！",
              cpx: "华为监控",
              cpx1: "华为监控",
              cpx_pri: "华为监控",
              quyu: "北区",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "无",
              签收状态: "否",
              未开票金额: 0,
              票据: null,
              身份证: "否",
              sale_cpx: "华为监控"
            },
            {
              htid: "27979",
              salelx: "企业无线",
              salehth: "NJ171210E/17376",
              xmmx: "徐州地铁一号线信号标LTE项目基站部分",
              bsc: "南京办",
              khjl: "王传云",
              dlsmc: "上海能达网络科技有限公司",
              htxse: 6747562,
              ysdk: 278655,
              cqys: 0,
              cqts: null,
              yskdqr: "",
              yzhcd: "原件",
              comment: "张瑞(2018-08-08):提供8-31前付清超期和利息",
              cpx: "企业无线",
              cpx1: "企业无线",
              cpx_pri: "企业无线",
              quyu: "南区",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "是",
              未开票金额: -278655,
              票据: null,
              身份证: "否",
              sale_cpx: "企业无线"
            },
            {
              htid: "30382",
              salelx: "数通项目",
              salehth: "NJ180503A/18089",
              xmmx: "视频云平台项目PRO20180329425996(网络部分)",
              bsc: "南京办",
              khjl: "王德玉",
              dlsmc: "江苏百旺金赋信息科技有限公司",
              htxse: 291853.28,
              ysdk: 110531.72,
              cqys: 0,
              cqts: null,
              yskdqr: "",
              yzhcd: "原件",
              comment: "填回复",
              cpx: "华为数通",
              cpx1: "华为数通",
              cpx_pri: "华为数通",
              quyu: "南区",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "是",
              未开票金额: 0,
              票据: null,
              身份证: "否",
              sale_cpx: "华为数通"
            },
            {
              htid: "31381",
              salelx: "企业无线",
              salehth: "NJ180619C/18160",
              xmmx: "徐州地铁一号线LTE项目（网管）",
              bsc: "南京办",
              khjl: "王传云",
              dlsmc: "上海能达网络科技有限公司",
              htxse: 750602,
              ysdk: 29635,
              cqys: 0,
              cqts: null,
              yskdqr: "",
              yzhcd: "",
              comment: "王婷婷(2018-11-29):客户反馈12月中旬回款",
              cpx: "企业无线",
              cpx1: "企业无线",
              cpx_pri: "企业无线",
              quyu: "南区",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "是",
              未开票金额: -29635,
              票据: null,
              身份证: "否",
              sale_cpx: "企业无线"
            },
            {
              htid: "34848",
              salelx: "数通项目",
              salehth: "NJ181022B/18283",
              xmmx:
                "NO.2011G01地块项目办公楼室内装修及智能化工程PRO20170123292930",
              bsc: "南京办",
              khjl: "钱伯江",
              dlsmc: "南京润业科技有限公司",
              htxse: 834789,
              ysdk: 9310,
              cqys: 0,
              cqts: null,
              yskdqr: "",
              yzhcd: "原件",
              comment: "填回复",
              cpx: "华为数通",
              cpx1: "华为数通",
              cpx_pri: "华为数通",
              quyu: "南区",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "是",
              未开票金额: 0,
              票据: null,
              身份证: "否",
              sale_cpx: "华为数通"
            },
            {
              htid: "34940",
              salelx: "服务器项目",
              salehth: "WH181117B/18090",
              xmmx: "宜昌市公安局WA大数据项目（硬件及服务）",
              bsc: "武汉办",
              khjl: "刘烈",
              dlsmc: "厦门市美亚柏科信息股份有限公司",
              htxse: 6609363,
              ysdk: 14496.3,
              cqys: 0,
              cqts: null,
              yskdqr: "",
              yzhcd: "",
              comment: "填回复",
              cpx: "华为服务器",
              cpx1: "华为服务器",
              cpx_pri: "华为服务器",
              quyu: "南区",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "无",
              未开票金额: 0,
              票据: null,
              身份证: "否",
              sale_cpx: "华为服务器"
            },
            {
              htid: "35979",
              salelx: "数通项目",
              salehth: "KM20181225A/18119",
              xmmx: "云南机场建设发展有限公司防火墙增补改造项目",
              bsc: "昆明办",
              khjl: "范书红",
              dlsmc: "昆明新电科技有限公司",
              htxse: 317561,
              ysdk: 2317,
              cqys: 0,
              cqts: null,
              yskdqr: "",
              yzhcd: "",
              comment: "填回复",
              cpx: "华为数通",
              cpx1: "华为数通",
              cpx_pri: "华为数通",
              quyu: "南区",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "无",
              未开票金额: 0,
              票据: null,
              身份证: "否",
              sale_cpx: "华为数通"
            },
            {
              htid: "5619",
              salelx: "智真项目",
              salehth: "XJ140421A/14023",
              xmmx: "兵团公安视频会议系统",
              bsc: "乌鲁木齐办",
              khjl: "吴宇",
              dlsmc: "新疆金蓝盾工程技术有限责任公司",
              htxse: 10307799,
              ysdk: 89996,
              cqys: 89996,
              cqts: 1695,
              yskdqr: "2014-08-11",
              yzhcd: "已返回财务",
              comment:
                "刘雪莹(2018-08-08):当时公司给予折扣，这部分款后来超期，存在争议，坏账",
              cpx: "华为智真",
              cpx1: "华为智真",
              cpx_pri: "华为智真",
              quyu: "北区",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "否",
              未开票金额: 89909,
              票据: null,
              身份证: "否",
              sale_cpx: "华为智真"
            },
            {
              htid: "8782",
              salelx: "智真项目",
              salehth: "KM141204/14023",
              xmmx: "丽江市公共资源交易中心视频会议项目",
              bsc: "昆明办",
              khjl: "范书红",
              dlsmc: "丽江市古城区民生科技有限公司",
              htxse: 164345,
              ysdk: 123790.5,
              cqys: 123790.5,
              cqts: 1509,
              yskdqr: "2015-02-13",
              yzhcd: "",
              comment: "杨慧(2018-06-13):已申请核销",
              cpx: "华为智真",
              cpx1: "华为智真",
              cpx_pri: "华为智真",
              quyu: "南区",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "否",
              未开票金额: 140225,
              票据: null,
              身份证: "否",
              sale_cpx: "华为智真"
            },
            {
              htid: "10528",
              salelx: "安全项目",
              salehth: "SH150505DC-15063",
              xmmx: "携程2015年网络项目五期（DDOS新建项目）",
              bsc: "上海办",
              khjl: "穆骏彦",
              dlsmc: "上海旭诚网络科技有限公司",
              htxse: 457778,
              ysdk: 9155.56,
              cqys: 9155.56,
              cqts: 1341,
              yskdqr: "2015-07-31",
              yzhcd: "",
              comment: "姜芹(2018-12-06):暂无进展",
              cpx: "华为安全",
              cpx1: "华为安全",
              cpx_pri: "华为安全",
              quyu: "南区",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "是",
              未开票金额: 0,
              票据: null,
              身份证: "否",
              sale_cpx: "华为安全"
            },
            {
              htid: "11151",
              salelx: "监控项目",
              salehth: "WLMQ150710/15043",
              xmmx:
                "新疆维吾尔自治区人民医院新门诊、病房综合楼弱电项目PRO2013111148945",
              bsc: "乌鲁木齐办",
              khjl: "吴宇",
              dlsmc: "乌鲁木齐高科通信设备有限公司",
              htxse: 189448,
              ysdk: 28798,
              cqys: 28798,
              cqts: 1304,
              yskdqr: "2015-09-06",
              yzhcd: "",
              comment: "刘雪莹(2018-08-08):坏账",
              cpx: "华为监控",
              cpx1: "华为监控",
              cpx_pri: "华为监控",
              quyu: "北区",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "是",
              未开票金额: 28798,
              票据: null,
              身份证: "否",
              sale_cpx: "华为监控"
            },
            {
              htid: "13614",
              salelx: "视讯项目",
              salehth: "HF151209B/15117",
              xmmx: "安徽力瀚视频会议设备项目",
              bsc: "合肥办",
              khjl: "张晓光",
              dlsmc: "安徽力瀚科技有限公司",
              htxse: 1115000,
              ysdk: 615000,
              cqys: 615000,
              cqts: 1157,
              yskdqr: "2016-01-31",
              yzhcd: "原件",
              comment: "童亚茹(2018-05-17):烂尾项目，不执行",
              cpx: "华为视讯",
              cpx1: "华为视讯",
              cpx_pri: "华为视讯",
              quyu: "南区",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "是",
              未开票金额: 0,
              票据: null,
              身份证: "否",
              sale_cpx: "华为视讯"
            },
            {
              htid: "13729",
              salelx: "服务合同",
              salehth: "FWHF20151211A",
              xmmx: "服务合同(FWHF20151211A)",
              bsc: "合肥办",
              khjl: "鄢德安",
              dlsmc: "合肥徽通信息技术有限公司",
              htxse: 1864430,
              ysdk: 707648.13,
              cqys: 707648.13,
              cqts: 1129,
              yskdqr: "2016-02-28",
              yzhcd: "",
              comment: "童亚茹(2018-05-17):烂尾项目，不执行",
              cpx: "华为服务",
              cpx1: "华为服务",
              cpx_pri: "华为服务",
              quyu: "南区",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "无",
              签收状态: "否",
              未开票金额: 1564430,
              票据: null,
              身份证: "否",
              sale_cpx: "华为服务"
            },
            {
              htid: "14013",
              salelx: "数通项目",
              salehth: "SH151224B-151197",
              xmmx: "拉扎斯2015年网络采购项目九期（北京机房扩容）",
              bsc: "上海办",
              khjl: "穆骏彦",
              dlsmc: "上海龙田数码科技有限公司",
              htxse: 1869052,
              ysdk: 25995.44,
              cqys: 25995.44,
              cqts: 1107,
              yskdqr: "2016-03-21",
              yzhcd: "",
              comment: "姜芹(2018-12-06):视18年合作情况核销",
              cpx: "华为数通",
              cpx1: "华为数通",
              cpx_pri: "华为数通",
              quyu: "南区",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "是",
              未开票金额: 0,
              票据: null,
              身份证: "否",
              sale_cpx: "华为数通"
            },
            {
              htid: "14184",
              salelx: "视讯项目",
              salehth: "CQ160112/16008",
              xmmx: "中冶建工集团分支公司视频会议项目",
              bsc: "重庆办",
              khjl: "曾珠",
              dlsmc: "上海实建智能科技发展有限公司重庆分公司",
              htxse: 260625,
              ysdk: 208500,
              cqys: 208500,
              cqts: 1064,
              yskdqr: "2016-05-03",
              yzhcd: "",
              comment: "陆靖(2019-01-03):起诉中，线下无法沟通",
              cpx: "华为视讯",
              cpx1: "华为视讯",
              cpx_pri: "华为视讯",
              quyu: "南区",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "否",
              未开票金额: 260625,
              票据: null,
              身份证: "否",
              sale_cpx: "华为视讯"
            },
            {
              htid: "14586",
              salelx: "视讯项目",
              salehth: "SH160128B-1607",
              xmmx: "正大置业视频会议系统",
              bsc: "上海办",
              khjl: "穆骏彦",
              dlsmc: "上海龙田数码科技有限公司",
              htxse: 327420,
              ysdk: 61419.62,
              cqys: 61419.62,
              cqts: 1061,
              yskdqr: "2016-05-06",
              yzhcd: "",
              comment: "姜芹(2018-12-06):视18年合作情况核销",
              cpx: "华为视讯",
              cpx1: "华为视讯",
              cpx_pri: "华为视讯",
              quyu: "南区",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "是",
              未开票金额: 62190,
              票据: null,
              身份证: "否",
              sale_cpx: "华为视讯"
            },
            {
              htid: "14478",
              salelx: "数通分销",
              salehth: "STFX160222B-BQ16009",
              xmmx: "数通分销(STFX160222B-BQ16009)",
              bsc: "北京办",
              khjl: "赵胜丹",
              dlsmc: "北京晋汇中天信息技术有限公司",
              htxse: 30478,
              ysdk: 914.34,
              cqys: 914.34,
              cqts: 1041,
              yskdqr: "2016-05-26",
              yzhcd: "",
              comment: "李萍(2017-10-11):优惠争议",
              cpx: "华为数通",
              cpx1: "华为数通",
              cpx_pri: "华为数通",
              quyu: "直属",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "是",
              未开票金额: 0,
              票据: null,
              身份证: "否",
              sale_cpx: "华为数通"
            },
            {
              htid: "14777",
              salelx: "视讯项目",
              salehth: "SH16226-1611",
              xmmx: "上海味全视讯项目PRO20160128181074",
              bsc: "上海办",
              khjl: "穆骏彦",
              dlsmc: "上海龙田数码科技有限公司",
              htxse: 246631,
              ysdk: 113059.56,
              cqys: 113059.56,
              cqts: 1040,
              yskdqr: "2016-05-27",
              yzhcd: "",
              comment: "姜芹(2018-12-06):视18年合作情况核销",
              cpx: "华为视讯",
              cpx1: "华为视讯",
              cpx_pri: "华为视讯",
              quyu: "南区",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "是",
              未开票金额: 113059.56,
              票据: null,
              身份证: "否",
              sale_cpx: "华为视讯"
            },
            {
              htid: "15006",
              salelx: "数通分销",
              salehth: "STFX160323B-BQ16056",
              xmmx: "数通分销(STFX160323B-BQ16056)",
              bsc: "北京办",
              khjl: "赵胜丹",
              dlsmc: "北京晋汇中天信息技术有限公司",
              htxse: 45500,
              ysdk: 1365,
              cqys: 1365,
              cqts: 1010,
              yskdqr: "2016-06-26",
              yzhcd: "",
              comment: "填回复",
              cpx: "华为数通",
              cpx1: "华为数通",
              cpx_pri: "华为数通",
              quyu: "直属",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "是",
              未开票金额: 4550,
              票据: null,
              身份证: "否",
              sale_cpx: "华为数通"
            },
            {
              htid: "15009",
              salelx: "数通分销",
              salehth: "STFX160323D-BQ16058",
              xmmx: "数通分销(STFX160323D-BQ16058)",
              bsc: "北京办",
              khjl: "赵胜丹",
              dlsmc: "北京晋汇中天信息技术有限公司",
              htxse: 1793,
              ysdk: 53.79,
              cqys: 53.79,
              cqts: 1010,
              yskdqr: "2016-06-26",
              yzhcd: "",
              comment: "填回复",
              cpx: "华为数通",
              cpx1: "华为数通",
              cpx_pri: "华为数通",
              quyu: "直属",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "是",
              未开票金额: 0,
              票据: null,
              身份证: "否",
              sale_cpx: "华为数通"
            },
            {
              htid: "15469",
              salelx: "UPS项目",
              salehth: "HF160411A/16052",
              xmmx: "JFJLJ军官学院机房配套设施建设项目",
              bsc: "合肥办",
              khjl: "张晓光",
              dlsmc: "安徽实创高科技有限公司",
              htxse: 680751,
              ysdk: 223268.91,
              cqys: 223268.91,
              cqts: 1010,
              yskdqr: "2016-06-26",
              yzhcd: "",
              comment: "童亚茹(2018-07-05):请走法律程序\n",
              cpx: "华为UPS",
              cpx1: "华为UPS",
              cpx_pri: "华为UPS",
              quyu: "南区",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "是",
              未开票金额: 680751,
              票据: null,
              身份证: "否",
              sale_cpx: "华为UPS"
            },
            {
              htid: "15132",
              salelx: "数通分销",
              salehth: "STFX160329C-BQ16071",
              xmmx: "数通分销(STFX160329C-BQ16071)",
              bsc: "北京办",
              khjl: "赵胜丹",
              dlsmc: "北京晋汇中天信息技术有限公司",
              htxse: 134974,
              ysdk: 4049.22,
              cqys: 4049.22,
              cqts: 1005,
              yskdqr: "2016-07-01",
              yzhcd: "",
              comment: "填回复",
              cpx: "华为数通",
              cpx1: "华为数通",
              cpx_pri: "华为数通",
              quyu: "直属",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "是",
              未开票金额: 13062,
              票据: null,
              身份证: "否",
              sale_cpx: "华为数通"
            },
            {
              htid: "15174",
              salelx: "数通分销",
              salehth: "STFX160331E-BQ16080",
              xmmx: "数通分销(STFX160331E-BQ16080)",
              bsc: "北京办",
              khjl: "赵胜丹",
              dlsmc: "北京晋汇中天信息技术有限公司",
              htxse: 33120,
              ysdk: 993.6,
              cqys: 993.6,
              cqts: 1002,
              yskdqr: "2016-07-04",
              yzhcd: "已回财务",
              comment: "填回复",
              cpx: "华为数通",
              cpx1: "华为数通",
              cpx_pri: "华为数通",
              quyu: "直属",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "是",
              未开票金额: 0,
              票据: null,
              身份证: "否",
              sale_cpx: "华为数通"
            },
            {
              htid: "15117",
              salelx: "数通分销",
              salehth: "STFX160329A-BQ16069",
              xmmx: "数通分销(STFX160329A-BQ16069)",
              bsc: "北京办",
              khjl: "赵胜丹",
              dlsmc: "北京晋汇中天信息技术有限公司",
              htxse: 229940,
              ysdk: 6898.2,
              cqys: 6898.2,
              cqts: 1002,
              yskdqr: "2016-07-04",
              yzhcd: "",
              comment: "填回复",
              cpx: "华为数通",
              cpx1: "华为数通",
              cpx_pri: "华为数通",
              quyu: "直属",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "是",
              未开票金额: 21600,
              票据: null,
              身份证: "否",
              sale_cpx: "华为数通"
            },
            {
              htid: "16030",
              salelx: "视讯项目",
              salehth: "BJ160504A/16077",
              xmmx: "某国家单位高清电视会议设备采购（总部交通）",
              bsc: "北京办",
              khjl: "华奇峰",
              dlsmc: "中电科唱（北京）科技有限责任公司",
              htxse: 3035239,
              ysdk: 121410,
              cqys: 121410,
              cqts: 998,
              yskdqr: "2016-07-08",
              yzhcd: "",
              comment: "李萍(2017-11-01):优惠争议",
              cpx: "华为视讯",
              cpx1: "华为视讯",
              cpx_pri: "华为视讯",
              quyu: "直属",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "是",
              未开票金额: 0,
              票据: null,
              身份证: "否",
              sale_cpx: "华为视讯"
            },
            {
              htid: "15562",
              salelx: "数通项目",
              salehth: "SH160128B-16031",
              xmmx: "上海逸悦汽车销售服务有限公司网络扩容项目",
              bsc: "上海办",
              khjl: "穆骏彦",
              dlsmc: "上海龙田数码科技有限公司",
              htxse: 66499,
              ysdk: 1329.98,
              cqys: 1329.98,
              cqts: 994,
              yskdqr: "2016-07-12",
              yzhcd: "",
              comment: "姜芹(2018-12-06):视18年合作情况核销",
              cpx: "华为数通",
              cpx1: "华为数通",
              cpx_pri: "华为数通",
              quyu: "南区",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "是",
              未开票金额: 1173,
              票据: null,
              身份证: "否",
              sale_cpx: "华为数通"
            },
            {
              htid: "15452",
              salelx: "数通分销",
              salehth: "STFX160419A-BQ16105",
              xmmx: "数通分销(STFX160419A-BQ16105)",
              bsc: "北京办",
              khjl: "赵胜丹",
              dlsmc: "北京晋汇中天信息技术有限公司",
              htxse: 1443250,
              ysdk: 34138.5,
              cqys: 34138.5,
              cqts: 983,
              yskdqr: "2016-07-23",
              yzhcd: "",
              comment: "填回复",
              cpx: "华为数通",
              cpx1: "华为数通",
              cpx_pri: "华为数通",
              quyu: "直属",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "是",
              未开票金额: 1137950,
              票据: null,
              身份证: "否",
              sale_cpx: "华为数通"
            },
            {
              htid: "15597",
              salelx: "数通分销",
              salehth: "STFX160426B-BQ16118",
              xmmx: "数通分销(STFX160426B-BQ16118)",
              bsc: "北京办",
              khjl: "赵胜丹",
              dlsmc: "北京晋汇中天信息技术有限公司",
              htxse: 435400,
              ysdk: 13062,
              cqys: 13062,
              cqts: 977,
              yskdqr: "2016-07-29",
              yzhcd: "",
              comment: "填回复",
              cpx: "华为数通",
              cpx1: "华为数通",
              cpx_pri: "华为数通",
              quyu: "直属",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "是",
              未开票金额: 43540,
              票据: null,
              身份证: "否",
              sale_cpx: "华为数通"
            },
            {
              htid: "15637",
              salelx: "数通分销",
              salehth: "STFX160427D-BQ16123",
              xmmx: "数通分销(STFX160427D-BQ16123)",
              bsc: "北京办",
              khjl: "赵胜丹",
              dlsmc: "北京晋汇中天信息技术有限公司",
              htxse: 1146750,
              ysdk: 34402.5,
              cqys: 34402.5,
              cqts: 974,
              yskdqr: "2016-08-01",
              yzhcd: "",
              comment: "填回复",
              cpx: "华为数通",
              cpx1: "华为数通",
              cpx_pri: "华为数通",
              quyu: "直属",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "是",
              未开票金额: 122600,
              票据: null,
              身份证: "否",
              sale_cpx: "华为数通"
            },
            {
              htid: "15645",
              salelx: "数通分销",
              salehth: "STFX160428A-BQ16125",
              xmmx: "数通分销(STFX160428A-BQ16125)",
              bsc: "北京办",
              khjl: "赵胜丹",
              dlsmc: "北京晋汇中天信息技术有限公司",
              htxse: 808125,
              ysdk: 24243.75,
              cqys: 24243.75,
              cqts: 974,
              yskdqr: "2016-08-01",
              yzhcd: "",
              comment: "填回复",
              cpx: "华为数通",
              cpx1: "华为数通",
              cpx_pri: "华为数通",
              quyu: "直属",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "是",
              未开票金额: 26600,
              票据: null,
              身份证: "否",
              sale_cpx: "华为数通"
            },
            {
              htid: "15651",
              salelx: "数通分销",
              salehth: "STFX160428C-BQ16127",
              xmmx: "数通分销(STFX160428C-BQ16127)",
              bsc: "北京办",
              khjl: "赵胜丹",
              dlsmc: "北京晋汇中天信息技术有限公司",
              htxse: 6130,
              ysdk: 183.9,
              cqys: 183.9,
              cqts: 974,
              yskdqr: "2016-08-01",
              yzhcd: "",
              comment: "填回复",
              cpx: "华为数通",
              cpx1: "华为数通",
              cpx_pri: "华为数通",
              quyu: "直属",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "是",
              未开票金额: 0,
              票据: null,
              身份证: "否",
              sale_cpx: "华为数通"
            },
            {
              htid: "15659",
              salelx: "数通分销",
              salehth: "STFX160328A-BQ16128",
              xmmx: "数通分销(STFX160328A-BQ16128)",
              bsc: "北京办",
              khjl: "赵胜丹",
              dlsmc: "北京晋汇中天信息技术有限公司",
              htxse: 85820,
              ysdk: 2574.6,
              cqys: 2574.6,
              cqts: 974,
              yskdqr: "2016-08-01",
              yzhcd: "",
              comment: "填回复",
              cpx: "华为数通",
              cpx1: "华为数通",
              cpx_pri: "华为数通",
              quyu: "直属",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "是",
              未开票金额: 8582,
              票据: null,
              身份证: "否",
              sale_cpx: "华为数通"
            },
            {
              htid: "17554",
              salelx: "华为服务",
              salehth: "FWSZ160105A",
              xmmx: "华为服务(FWSZ160105A)",
              bsc: "乌鲁木齐办",
              khjl: "吴宇",
              dlsmc: "新疆天晟信息技术有限公司",
              htxse: 70000,
              ysdk: 70000,
              cqys: 70000,
              cqts: 964,
              yskdqr: "2016-08-11",
              yzhcd: "",
              comment: "刘雪莹(2018-08-22):无法联系二代签订补充协议，暂搁",
              cpx: "华为服务",
              cpx1: "华为服务",
              cpx_pri: "华为服务",
              quyu: "北区",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "否",
              未开票金额: 70000,
              票据: null,
              身份证: "否",
              sale_cpx: "华为服务"
            },
            {
              htid: "15876",
              salelx: "数通分销",
              salehth: "STFX160511A-BQ16151",
              xmmx: "数通分销(STFX160511A-BQ16151)",
              bsc: "北京办",
              khjl: "赵胜丹",
              dlsmc: "北京晋汇中天信息技术有限公司",
              htxse: 17200,
              ysdk: 516,
              cqys: 516,
              cqts: 961,
              yskdqr: "2016-08-14",
              yzhcd: "",
              comment: "填回复",
              cpx: "华为数通",
              cpx1: "华为数通",
              cpx_pri: "华为数通",
              quyu: "直属",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "是",
              未开票金额: 1720,
              票据: null,
              身份证: "否",
              sale_cpx: "华为数通"
            },
            {
              htid: "15884",
              salelx: "数通分销",
              salehth: "STFX160511D-BQ16154",
              xmmx: "数通分销(STFX160511D-BQ16154)",
              bsc: "北京办",
              khjl: "赵胜丹",
              dlsmc: "北京晋汇中天信息技术有限公司",
              htxse: 12484,
              ysdk: 374.52,
              cqys: 374.52,
              cqts: 961,
              yskdqr: "2016-08-14",
              yzhcd: "",
              comment: "填回复",
              cpx: "华为数通",
              cpx1: "华为数通",
              cpx_pri: "华为数通",
              quyu: "直属",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "是",
              未开票金额: 1226,
              票据: null,
              身份证: "否",
              sale_cpx: "华为数通"
            },
            {
              htid: "15904",
              salelx: "数通分销",
              salehth: "STFX160512A-BQ16155",
              xmmx: "数通分销(STFX160512A-BQ16155)",
              bsc: "北京办",
              khjl: "赵胜丹",
              dlsmc: "北京晋汇中天信息技术有限公司",
              htxse: 1233520,
              ysdk: 37005.6,
              cqys: 37005.6,
              cqts: 961,
              yskdqr: "2016-08-14",
              yzhcd: "",
              comment: "填回复",
              cpx: "华为数通",
              cpx1: "华为数通",
              cpx_pri: "华为数通",
              quyu: "直属",
              promise: "填承诺",
              followup: "填跟进",
              合同原件: "有",
              签收状态: "是",
              未开票金额: 141210,
              票据: null,
              身份证: "否",
              sale_cpx: "华为数通"
            }
          ]
        },
        created() {},
        mounted() {
          this.hideThead();
          $(window).resize(() => {
              this.hideThead();
          });
            
          $('#id_di_m').bind('scroll', () => {
              $('#id_di_mh').scrollLeft($('#id_di_m').scrollLeft());
          });
        },
        updated() {
          this.hideThead();
        },
        methods: {
          //隐藏主表表头
          hideThead(){
              $('#id_di_m').outerHeight($(window).height()/10*6.8);
              $("#id_t_m").css("margin-top", -$("#id_tr_mh").outerHeight());
          },
        },
        computed: {},
        watch: {}
      });
    </script>
    <style>
      table{
            border-collapse: collapse;
            border-width:1px;
      }
      table tr{ border-collapse: collapse;}
      .inline{
        white-space:nowrap;                   
        overflow:hidden;            
        text-overflow:ellipsis;  
        display: block;
        border: 1px solid #eee;

      }
      #id_di_mh,
      #id_di_m{
          width: 100%;
          overflow-y: scroll;
          overflow-x: scroll;
      }
      #id_di_mh{
          overflow: hidden;
      }
      #id_t_mh{
        /* width: 100%; */
        width: calc(100% - 1.2em)
    }
    #id_t_m,
    #id_t_m th,
    #id_t_m td,
    #id_t_mh,
    #id_t_mh th{
        text-align: center;
        vertical-align: middle;
        word-wrap: break-word;
        word-break: break-all;
    }
    #id_t_mh{
        margin: 0;
        /* border: 0; */
    }
    </style>
  </body>
</html>
